#admission-process {
  padding: 40px 80px;
  background-color: #f9f9f9;
  font-family: 'Segoe UI', sans-serif;
  
    display: flex;
    flex-direction: column;
  align-items: start;
  justify-content: center;
   background-color: #cffed2;
     margin-bottom: 50px;
}

#heading{
   margin-top: 100px;
  text-align: center;
  font-size: 2.5rem;
  color: #1d4929;
  margin-bottom: 20px;
  text-align: center;
  width: 100%; 
}
 #heading1 {
  margin-top: 150px;
  text-align: center;
  font-size: 2.5rem;
  color: #1d4929;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}



#admission-process li {
  font-size: 1.2rem;
  margin-bottom: 15px;
  color: #333;
}


@media (max-width: 768px) {
  #admission-process {
    padding: 20px;
    margin-top: 5px;
  }

 #heading1 {
    margin-top:30%;
    font-size: 1.6rem;
  }

  #admission-process li {
    font-size: 0.6rem;
    margin-bottom: 9px;
  }
  #heading{
   margin-top: 50px;
  text-align: center;
font-size: 1.8rem;
  color: #1d4929;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
 #heading1 {
  margin-top: 150px;
  text-align: center;
  font-size: 1.8rem;
  color: #1d4929;
  margin-bottom: 20px;
  text-align: center;
  width: 100%;
}
}

