/* General Style */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

/* Navbar */
.navbar {
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  position: absolute;
  top: 20px;
  left: 5%;
  right: 5%;
  height: 80px;
  width: 90%;
  background-color: rgb(241, 237, 237);
  /*background: rgba(0, 0, 0, 0.5); /* Transparent background */
  padding: 15px;
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  height: auto;
  margin-left: 40px;
}
.logo_img {
  height: auto;
  width: 100px;
}
nav ul {
  float: right;
  margin-right: 5px;
}

nav ul li {
  display: inline-block;
  line-height: 80px;
}

nav ul li a {
  font-size: 17px;
  padding: 7px 5px;
  border-radius: 3px;
  font-weight: 1000;
  text-transform: uppercase;
  text-decoration: none;
  color: #1d4929;
}
nav ul li a:hover {
  text-decoration: underline;
  text-decoration-thickness: 2px;
  color: #1d4929;
}

.checkbtn {
  font-size: 22px;
  color: #1d4929;
  float: right;
  line-height: 80px;
  margin-right: 30px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 1050px) {
  nav ul li a {
    font-size: 16px;
  }
}
/* Slider container */
.slider {
  position: relative;
  width: 100%;
  height: 100vh; /* Full screen height */
  overflow: hidden;
  background-image: url(bg1.png);
  background-size: cover; /* Makes sure the image covers the entire div */
  background-position: center; /* Centers the background image */
  background-repeat: no-repeat;
  animation: slide 20s ease-in-out 5s infinite;
}

/* Keyframes for automatic sliding */
@keyframes slide {
  0% {
    background-image: url(bg1.png);
  }
  25% {
    background-image: url(bg5.png);
  }
  50% {
    background-image: url(bg3.JPG);
  }
  75% {
    background-image: url(bg4.png);
  }
  100% {
    background-image: url(bg5.png);
  }
}

/* Centered Content */
.centered-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  z-index: 5;
}

.centered-content h1 {
  font-size: 3em;
  margin-bottom: 10px;
  color: #fff;
}

.centered-content p {
  font-size: 1.5em;
}

/* Styling the phone icon */
.phone-icon {
  position: fixed;
  bottom: 20px;
  left: 20px;
  background-color: #25d366; /* WhatsApp-like green for consistency */
  color: white;
  font-size: 24px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.phone-icon:hover {
  background-color: #128c7e; /* Darker green on hover */
}

/* Styling the WhatsApp icon */
.whatsapp-icon {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366; /* WhatsApp green */
  color: white;
  font-size: 24px;
  padding: 15px;
  border-radius: 50%;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.2);
  text-decoration: none;
  z-index: 1000;
  transition: background-color 0.3s ease;
}

.whatsapp-icon:hover {
  background-color: #128c7e; /* Darker green on */
}

.content-wrapper {
  background-color: #f4f4f4;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 50px;
  max-width: 100%;
  margin: 0 auto;
  flex-wrap: wrap;
}

.image-container {
  flex: 1;
  max-width: 50%;
}

.image-container img {
  width: 500px;
  height: auto;
}

.text-container {
  flex: 1;
  max-width: 50%;
  padding-left: 30px;
  display: flex;
  flex-direction: column;
  align-items: start;
}

.text-container h1 {
  color: #1d4929;
  font-size: 35px;
  font-size: 2.5rem;
  margin-bottom: 20px;
}

.text-container p {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #666;
}

.text-container .btn {
  height: 50px;
  width: 150px;
  background-color: #1d4929;

  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-bottom-right-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-container .btn:hover {
  background-color: #1d4929;
}

/* client slider */
.client_slider_container {
  overflow: hidden;
  width: 100%;
  position: relative;
}
.client_slider_container h1 {
  text-align: center;
}

.client_slider {
  display: flex;
  gap: 20px;
  animation: client_slide 40s linear infinite;
}

.client_slide_item {
  flex: 0 0 auto;
  text-align: center;
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.client_slide_item img {
  max-width: 150px;
  height: auto;
  display: block;
  margin: 0 auto;
}

/* Text styles */
.client_slide_item h1 {
  font-size: 1.2em;
  margin: 5px 0 0;
}

.client_slide_item h2 {
  font-size: 1em;
  color: #555;
  margin: 0;
}

/* Keyframe animation */
@keyframes client_slide {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Responsive design for smaller screens */
@media (max-width: 768px) {
  .client_slide_item {
    width: 25%; /* Show 4 items per row */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media (max-width: 480px) {
  .client_slide_item {
    width: 50%; /* Show 2 items per row */

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

/* our services */
.our_company {
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background-color: #f4f4f4;
}

.why-us-container {
  width: 100%;
  max-width: 1200px;
  text-align: center;
}

h1 {
  margin-top: 40px;
  margin-bottom: 2rem;
  color: #1d4929;
  font-size: 35px;
}

.why-us-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.card {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  width: calc(33% - 2rem);
  flex-grow: 1;
}

.card h2 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 1.5rem;
  color: #1d4929;
}

.card p {
  color: #666;
  font-size: 1rem;
}

.icon {
  font-size: 2rem;
  color: #1d4929;
}

/* Responsive Design */
@media (max-width: 1024px) {
  .card {
    width: calc(50% - 1rem);
  }
}

@media (max-width: 768px) {
  .card {
    width: 90%;
  }
}

/* footer */
footer {
  background-color: #1d4929;
  color: #fff;
  padding: 40px 0;
  text-align: left;
}

.container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.footer-column {
  flex: 1;
  min-width: 220px;
  margin: 20px 0;
}

.footer_logo {
  height: 300px;
  width: auto;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-column p,
.footer-column ul,
.footer-column a {
  color: #fff;
  margin-bottom: 10px;
}

.social-icons a {
  color: #fff;
  margin-right: 15px;
  text-decoration: none;
}

iframe {
  border: 0;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .footer-column {
    text-align: center;
  }

  iframe {
    width: 100%;
  }
  .third_column h3 {
    text-align: center;
  }
  .third_column a {
    text-align: center;
  }
}

/* first coloumn*/
.First_coloumn {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}
.footer-column img {
  height: 50px;
}
.footer_content {
  margin-top: 20px;
  text-align: center;
}
/* secound  coloumn*/

.secound_coloumn h3 {
  color: #fff;
  font-size: 30px;
}
.secound_coloumn p,
a {
  text-decoration: none;
}
/* thired  coloumn*/
.third_column {
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.third_column h3 {
  color: #fff;
  font-size: 30px;
}

.fouth_column h3 {
  text-align: center;
  color: #fff;
  font-size: 30px;
}
/*footer end */

.video-container {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 ratio */
  height: 0;
  overflow: hidden;
  max-width: 100%;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Section Styling */
.school-section {
  padding: 2rem;
  background-color: #f6f9fc;
}

.school-container {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
}

/* Text Content */
.school-text {
  flex: 1 1 400px;
  min-width: 300px;
}

.school-text h2 {
  color: #1d4929;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.school-text p {
  line-height: 1.6;
  color: #555;
}

.learn-more-btn {
  display: inline-block;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  background-color: #1d4929;
  color: white;
  border-radius: 5px;
  text-decoration: none;
}

/* Image Grid */
.school-images {
  flex: 1 1 400px;
  min-width: 300px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 1rem;
}

.school-images img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

/* Responsive */
@media (max-width: 768px) {
  .school-container {
    flex-direction: column;
  }

  .school-images {
    grid-template-columns: 1fr;
  }
}

/* nirmal ji and madan ji css */
/* Section styling */
.content-section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  background-color: #f4f4f4;
}

.content {
  margin-top: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

/* Image container styles */
.image-left,
.image-right {
  flex: 1;
  text-align: center;
}

/* Image styling */
img {
  width: 500px;
  height: auto;
  border-radius: 10px;
}

/* Caption text styling */
.caption {
  margin-top: 10px;
}

.name {
  font-size: 18px;
  font-weight: bold;
  color: #1d4929;
}

.role {
  font-size: 14px;
  color: #666;
}

/* Responsive design */
@media (max-width: 768px) {
  .content {
    flex-direction: column;
    align-items: center;
  }

  .image-left,
  .image-right {
    margin-bottom: 20px;
  }
  img {
    width: 80%;
    height: auto;
    border-radius: 10px;
  }
}
