/* Responsive about us home */
@media (max-width: 1100px) {
  .content-wrapper {
    flex-direction: column;
    padding: 20px;
  }
  .image-container img {
    width: 80%;
    height: auto;
  }
  .image-container,
  .text-container {
    max-width: 100%;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .text-container {
    padding-top: 20px;
  }
}

/* Responsive navbar*/
@media (max-width: 768px) {
  .centered-content h1 {
    font-size: 2em;
  }

  .centered-content p {
    font-size: 1.2em;
  }

  .checkbtn {
    display: block;
    color: #1d4929;
  }

  .logo {
    height: 90%;
  }

  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: white;
    top: 100px;
    left: -100%;
    text-align: center;
    transition: all 0.5s;
  }

  nav ul li {
    display: block;
    margin: 50px 0;
    line-height: 30px;
  }

  nav ul li a {
    font-size: 20px;
  }

  #check:checked ~ ul {
    left: 5%;
    right: 5%;
    top: 120px;
    height: 65%;
    width: 90%;
    font-size: 16px;
    border-bottom-right-radius: 30px;
  }
}
