.service_photos {
  height: 100px;
  background-color: #f4f4f4;
  width: 100%;
}
.gallery {
  background-color: #f4f4f4;
  height: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  padding-top: 100px;
}

.photo {
  width: calc(25% - 20px);
  margin: 10px;
  cursor: pointer;
  transition: transform 0.2s;
}

.photo img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

@media (max-width: 1200px) {
  .photo {
    width: calc(33.33% - 20px);
  }
}

@media (max-width: 768px) {
  .photo {
    width: calc(50% - 20px);
  }
}

@media (max-width: 480px) {
  .photo {
    width: calc(100% - 20px);
  }
}

.lightbox {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
  justify-content: center;
  align-items: center;
}

.lightbox img {
  max-width: 90%;
  max-height: 80%;
}

.lightbox .close {
  position: absolute;
  top: 20px;
  right: 30px;
  color: white;
  font-size: 30px;
  cursor: pointer;
}
.service_content {
  height: 400px;
  width: 100%;

  display: flex;
  align-items: center;
  justify-content: center;
}
.service_content p {
  width: 80%;
  text-align: center;
  font-size: 25px;
  color: #1d4929;
}
@media only screen and (max-width: 600px) and (min-width: 0px) {
  .service_content {
    height: 400px;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 50px;
  }
  .service_content p {
    width: 80%;
    text-align: center;
    font-size: 15px;
    color: #1d4929;
  }
}
